.body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.project-container {
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;
  /* overflow: hidden; */
  background-color: #fff;

  /* glassmorphism effect */
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
}